<div class="container-fluid">
    <div class="row">
        <div class="input-group">
            <input ng-model="searchText" type="text" placeholder="Search News Media" class="form-control">
            <span class="input-group-btn">
                <a ng-click="model.searchForNewsMedia(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
                 </a>
            </span>
        </div>
    </div>
    <div class="row" ng-if="model.searchResults.length==0">
        <div class="col-xs-12">
            <div class="jumbotron backGround">
                <h1>Welcome to News Hub</h1>
                <h2 class="text-center">Choose to read the latest articles from over 60 news media from all over the world, courtesy News API</h2>

            </div>

        </div>
    </div>
    <div ng-if="model.searchResults.length>0" class="row">
        <div ng-show="model.message" class="alert alert-info">
            {{model.message}}
        </div>

        <div class="panel panel-default col-sm-6 nh-panel-height nh-no-side-padding " ng-repeat="media in model.searchResults">
            <div class="panel-heading">
                {{media.name}}
                <div class="pull-right">
                    <a class="glyphicon glyphicon-globe" href="{{media.url}}" target="_blank"></a>
                    <a ng-if="model.showAddtoDashboard" class="glyphicon glyphicon-plus" ng-click="model.addNewsMediaToDashboard(media.id)"></a>
                    <a class="glyphicon glyphicon-eye-open"
                    href="#!/newsMedia/article/{{media.id}}/{{media.sortBysAvailable[0]}}/{{media.name}}"></a>
                </div>


            </div>
            <div class="panel-body">
                {{media.description}}
            </div>
        </div>
        <!--<div class="thumbnail col-sm-6" ng-repeat="media in model.searchResults">-->
        <!--<div class="caption">-->
            <!--<span>{{media.name}}</span>-->
        <!--</div>-->

        <!--</div>-->
    </div>
</div>
