<div class="container">
    <h1>Register</h1>
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <input type="text"
           name="username"
           ng-model="username"
           class="form-control"
           required
           placeholder="username"/>
    <!--<div ng-show = "username.$submitted && username.$invalid" class="alert alert-danger">-->
        <!--Username required-->
    <!--</div>-->
    <input type="password"
           ng-model="password"
           class="form-control"
           placeholder="password"/>
    <input type="password"
           ng-model="password2"
           class="form-control"
           placeholder="verify password"/>
    <a class="btn btn-primary btn-block"
       ng-click="model.register(username,password,password2)">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#!/login">Cancel</a>
</div>
