input.form-control,
textarea,
select,
form{
    margin-bottom: 5px;
}
.nh-bottom-5px{
    margin-bottom: 5px;
}

.input-group{
    margin-bottom: 5px;
}
.nh-panel-header-font{
    font-size:20px;
}
.nh-right-adjustment-1{

    right:40px;
}


body{
    padding-top: 60px;
    padding-bottom: 60px;
    /*background-image: url("../../images/newspaper-154444_1280.png");*/

    position: relative;
    width: 100%;
    /*min-height: auto;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../../images/NewsBG3.jpg');
}
.nh-strechWidth{
    width: 100%;
}
.nh-navbar-link{
    color:#ddd
}

.backGround{
    position: relative;
    width: 100%;
    /*min-height: auto;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    /*background-image: url('../../images/NewsBg.jpg');*/
    text-align: center;
    color: black;
    height: 400px;
    font-size: 30px;
    font-weight: 700;

}

.navbar-default > div {
    background-color: #222222;
    border-color: #080808;
}
.jumbotron p{
    font-size:18px;
}

.nh-toolbar-1 {
    position: absolute;
    right: 15px;
    background: transparent;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.nh-toolbar-2 {
    position: absolute;
    right: 0px;
    background: transparent;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.thumbnail{
    padding-top:0px;
    margin-top:20px;
}

.nh-toolbar{
    position: absolute;
    right: 30px;
    background: black;
    opacity: 0.5;
    padding: 5px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.thumbnail > .caption{

    padding-top:0px;
}

.nh-thumbnail-height{
    height:200px;
}


.nh-responsive-img{
    width:100%;
    height:auto;
}
.nh-align-right{
    text-align: right;
}

.nh-description{
    line-height: 2;
    font-family: sans-serif;
    font-size: medium;
}


.nh-panel-height{
    height:200px;
}
.nh-no-side-padding{
    padding-left: 0px;
    padding-right:0px;
}
.nh-no-left-padding{
    padding-left:0px;
}
.nh-no-right-padding{
    padding-right:0px;
}
.nh-side-padding-5px{
    padding-right: 5px;
    padding-left:5px;
}
.nh-side-padding-15px{
    padding-right: 15px;
    padding-left:15px;
}
.nh-padding-10px{
    padding:10px;
}
.nh-padding-15px{
    padding:15px;
}

.panel-heading > div > a{
    padding-right: 5px;
    padding-left:5px;
}

.grey-heading{
    color:lightgray;
}

.small-btn{
    padding: 6px 6px;!important;
    /*display: inline-block;*/
    /*padding: 6px 6px;*/
    /*margin-bottom: 0;*/
    /*font-size: 14px;*/
    /*font-weight: normal;*/
    /*line-height: 1.42857143;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*vertical-align: middle;*/
    /*-ms-touch-action: manipulation;*/
    /*touch-action: manipulation;*/
    /*cursor: pointer;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*background-image: none;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/

}
