<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-9">
                {{model.mode}} Articles
            </div>
            <div class="col-xs-3 nh-align-right">
                <span class="input-group-btn" ng-show="model.showCreateArticle">
                        <a class="btn btn-default" type="button"
                           ng-click="model.createArticle()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                </span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12" ng-repeat="article in model.articles">

                <div class="thumbnail">
                    <div class="nh-toolbar-1">
                        <a class="btn btn-default" type="button"
                           href="#!/publisher/article/edit/{{article._id}}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </div>
                    <div ng-if="model.showDeleteArticle" class="nh-toolbar-1">
                        <a class ="btn btn-default"
                           ng-click = "model.deleteArticle(article._id,article._user,article.articleType)"
                           type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"><img class="nh-responsive-img" ng-src="{{article.urlToImage}}" alt=""></div>
                        <div class="col-sm-6">
                            <h2>
                                <a ng-click="model.selectArticle(article)">
                                    {{article.title}}
                                </a>

                            </h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
