<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="nh-toolbar-1">
                    <a ng-if="model.article.url" href="{{model.article.url}}" target="_blank" class="btn btn-info">Read</a>
                    <a ng-if="!model.articleSaved" class="btn btn-success" ng-click="model.saveArticle(model.article)">
                        Save
                    </a>
                </div>
                <div class="panel-heading">
                  <div class="row">

                      <div class="col-xs-12">
                          <label>Published</label>
                          <span class="col-xs-12 visible-xs nh-no-side-padding">{{model.article.publishedAt | date:'mediumDate'}}</span>
                          <span class="hidden-xs">{{model.article.publishedAt | date:'mediumDate'}}</span>
                      </div>
                  </div>
                </div>
                <div class="panel-body">
                    <div  ng-show="model.message" class="alert alert-info">{{model.message}}</div>
                    <h2>
                        {{model.article.title}}
                    </h2>
                    <img ng-src="{{model.article.urlToImage}}"
                    class="nh-responsive-img">
                    <div>
                        <p class="nh-description">{{model.article.description}}</p>
                    </div>

                    <div ng-if="model.articleSaved">
                        <h4>Add Comment</h4>
                        <div class="input-group">
                            <input type="text" ng-model="newComment" class="form-control">
                            <span class="input-group-btn">
                            <a class ="btn btn-default"
                               ng-click = "model.addComment(newComment)"
                               type="button">
                            <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            </span>
                        </div>
                        <ul ng-show="model.comments" class="list-group">
                            <li ng-repeat="comment in model.comments" class="list-group-item">
                                <div class="nh-toolbar-2">
                                    <a ng-if="model.userId !== comment._user._id" class ="btn btn-default"
                                       ng-click = "model.reportComment(comment._id,comment)"
                                       type="button">
                                        <span class="glyphicon glyphicon-flag"></span>
                                    </a>
                                    <a ng-if="model.userId === comment._user._id" class ="btn btn-default"
                                       ng-click = "model.removeComment(comment._id,comment._user._id)"
                                       type="button">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                                <h5>{{comment._user.username}}</h5>
                                <p>{{comment.text}}</p>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>