<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" ng-repeat="article in model.articles">

            <div class="thumbnail nh-padding-10px">
                <div class="row">
                    <div class="col-sm-6"><img class="nh-responsive-img" ng-src="{{article.urlToImage}}" alt=""></div>
                    <div class="col-sm-6">
                        <h2>
                        <a ng-click="model.selectArticle(article)">
                            {{article.title}}
                        </a>

                        </h2>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>