<div ng-controller="nh_headerController as model">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="glyphicon glyphicon-chevron-left pull-left nh-padding-15px nh-navbar-link" ng-click="model.back()"></a>
                <a class="navbar-brand" href="#">News Hub</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li ng-show="model.showDashboard"><a class="btn" href="#!/dashboard" data-toggle="collapse" data-target="#navbar">Dashboard</a></li>
                    <li ng-show="model.showAdmin"><a class="btn" href="#!/admin" data-toggle="collapse" data-target="#navbar">Admin</a></li>
                    <li ng-show="model.showLogin"><a class="btn" href="#!/login" data-toggle="collapse" data-target="#navbar">Login</a></li>
                    <li ng-show="model.showRegister"><a class="btn" href="#!/register" data-toggle="collapse" data-target="#navbar">Register</a></li>
                    <li ng-show="model.showProfile"><a class="btn" href="#!/profile/profile" data-toggle="collapse" data-target="#navbar">{{model.username}} - Profile</a></li>
                    <li ng-show="model.showPublishedArticle"><a class="btn" href="#!/publisher/article" data-toggle="collapse" data-target="#navbar">Published</a></li>
                    <li ng-show="model.showLogout"><a class="btn" ng-click="model.logout()" data-toggle="collapse" data-target="#navbar">Logout</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>
