
<nav class="navbar navbar-default navbar-fixed-top wd-padding-left-15px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}" class="navbar-link pull-left wd-navbar-back">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#">
                Websites
            </a>

            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/new" class="navbar-link">
          <span class="glyphicon glyphicon-plus">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group wd-padding-right-15px wd-padding-left-15px">
        <li class="list-group-item wd-active-cornflowerblue-bg">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-11">
                    Name
                </div>
                <div class ="col-lg-3 visible-lg">
                    Created
                </div>
                <div class = "col-md-3 hidden-sm hidden-xs" >
                    Updated
                </div>
                <div class="col-xs-1">

                </div>
            </div>
        </li>
        <li ng-repeat="website in model.websites" class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-10">
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                        {{website.name}}
                    </a>
                </div>
                <div class ="col-lg-3 visible-lg">
                    {{website.created | date:'shortDate'}}
                </div>
                <div class = "col-md-3 hidden-sm hidden-xs" >
                    {{website.accessed | date:'shortDate'}}
                </div>
                <div class="col-xs-1">
                    <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                        <span style="white-space: nowrap" class="glyphicon glyphicon-cog pull-right"></span>
                    </a>
                </div>
            </div>
        </li>



    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom wd-padding-left-15px">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>

                </a>
            </p>
        </div>
    </div>
</nav>

