<div class="">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3 nh-panel-header-font">
                    Dashboard
                </div>
                <div class="col-xs-9 nh-align-right">
                    <a class="btn btn-default"
                       ng-click="model.viewAllNewsMedia()"
                       type="button">
                        <span class="glyphicon glyphicon-th"></span>
                    </a>
                    <a class="btn btn-default"
                       href="#!/saved/article"
                       type="button">
                        <span class="glyphicon glyphicon-bookmark"></span>
                    </a>
                    <a class="btn btn-default"
                       href="#!/newsMediaSearch"
                       type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" ng-if="model.dashboard.news_media.length==0">
                <div class="col-xs-12">
                    <div class="jumbotron backGround">
                        <h1>Welcome to your dashboard</h1>
                        <h3 class="text-justify">Choose to read the latest articles from over 60 news media from all over the world, courtesy News API</h3>

                    </div>
                    <a class="btn btn-success nh-strechWidth" href ="#!/newsMediaSearch">Add a news media to your dashboard</a>
                </div>

            </div>
            <div class="row" ng-if="model.dashboard.news_media.length > 0">
                <div ng-if="model.showMedia">
                    <div class="thumbnail col-xs-12 col-md-4 nh-thumbnail-height" ng-repeat="source in model.user_news_media">
                        <div class="nh-toolbar-2">
                            <a class="btn small-btn btn-default"
                               ng-click="model.selectNewsMedia(source.id,source.sortBysAvailable[0])"
                               type="button">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                            <a class="btn small-btn btn-default"
                               ng-click="model.removeNewsMedia(source.id)"
                               type="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                        <div class="caption">
                            <div>
                                <h3>{{source.name}}</h3>
                            </div>
                            <div>
                                <p>{{source.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>



                <!--<div class="col-xs-12">-->
                    <!--<ul class="nav nav-tabs">-->
                        <!--<li ng-repeat="source in model.user_news_media"-->
                            <!--class="{{source.class}}"-->
                            <!--role="presentation">-->

                            <!--<a ng-click="model.selectNewsMedia(source.id,source.sortBysAvailable[0])">{{source.name}}</a>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</div>-->
                <!--<div ng-include="'views/article/templates/article.view.client.html'"></div>-->
                <div ng-if="!model.showMedia">
                    <div class="col-sm-12"><h3>{{model.selectedNewsMedia.name}}</h3></div>
                    <div class="col-sm-12" ng-repeat="article in model.articles">

                        <div class="thumbnail nh-padding-10px">
                            <div class="row">
                                <div class="col-sm-6"><img class="nh-responsive-img" ng-src="{{article.urlToImage}}" alt=""></div>
                                <div class="col-sm-6">
                                    <h2>
                                        <a ng-click="model.selectArticle(article)">
                                            {{article.title}}
                                        </a>

                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
