<div class="container-fluid">
    <label for="name">Name</label>
    <input id="name"
           placeholder="Lorem ipsum"
           ng-model="model.editWidget.name"
           class="form-control"/>

    <label for="text">Text</label>
    <input id="text"
           placeholder="Lorem ipsum"
           ng-model="model.editWidget.text"
           class="form-control"/>
    <label for="text">Rows</label>
    <input id="row"
           placeholder="1"
           ng-model="model.editWidget.rows"
           class="form-control"/>

    <label for ="placeHolder">Placeholder</label>
    <input id="placeHolder" ng-model="model.editWidget.placeholder" class="form-control"/>
    <label for = "formatted">Formatted</label>
    <input id ="formatted"ng-model="model.editWidget.formatted" type="checkbox" class="form-check"/>

    <a ng-click="model.deleteWidget(model.editWidget._id)"
       class="btn btn-block btn-danger">Delete</a>
</div>