<div class="container-fluid">

    <label for="name">Name</label>
        <input id="name"
               placeholder="facebook"
               class="form-control"/>

    <label for="text">Text</label>
        <textarea id="text"
                  ng-model="model.editWidget.text"
                  placeholder="Describe in 200 words"
                  rows="5"
                  class="form-control"></textarea>

    <a class="btn btn-info btn-block" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.editWidgetId}}/search">
        Search
    </a>

    <label for="url">URL</label>
    <input id="url"
           ng-model="model.editWidget.url"
           placeholder="www.northeastern.edu"
           class="form-control"/>


    <label for="width">Width</label>
        <input id="width"
               ng-model="model.editWidget.width"
        placeholder="100%"
        class="form-control"/>

    <label for="myfile">Upload</label>
    <form action="/api/assignment/upload"   method="post" enctype="multipart/form-data">

        <input id="myfile"  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.editWidget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.editWidgetId}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-info">Upload Image</button>
    </form>


    <!--<label for="file">Upload</label>-->
    <!--<input id="file" multiple type="file" class="form-control"/>-->

    <!--<a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="btn btn-block btn-info">Upload</a>-->

    <a ng-click="model.deleteWidget(model.editWidget._id)"
       class="btn btn-block btn-danger">Delete</a>

</div>
