<div class="container-fluid">
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-4 remove-padding">
                <input class="form-control" type="text" ng-model="model.firstName" placeholder="First Name">
            </div>
            <div class="col-xs-4 remove-padding">
                <input class="form-control" type="text" ng-model="model.middleName" placeholder="Middle Name">
            </div>
            <div class="col-xs-4 remove-padding">
                <input class="form-control" type="text" ng-model="model.lastName" placeholder="Last Name">
            </div>

        </div>
        <div class="row">
            <input ng-model="model.number" class="form-control" type="text" placeholder="Apt / House Number">
            <input ng-model="model.route" class="form-control" type="text" placeholder="Route">
            <input ng-model="model.city" class="form-control" type="text" placeholder="City">
            <input ng-model="model.state" class="form-control" type="text" placeholder="State">
            <input ng-model="model.zipcode" class="form-control" type="text" placeholder="Zip Code">
            <input ng-model="model.country" class="form-control" type="text" placeholder="Country">
            <input ng-model="model.email" class="form-control" type="text" placeholder="Email">
            <input ng-model="model.phone" class="form-control" type="text" placeholder="Phone Number">
            <input ng-model="model.listId" class="form-control" type="text" placeholder="List Id">
            <a class="btn btn-block btn-success" ng-click="model.createNewContact(model.listId)">Create Contact</a>
        </div>
    </div>
    <div class="col-xs-6">
        <textarea class="full-width height-500px" ng-model="model.contact">

        </textarea>
    </div>

</div>