<div class="container-fluid">
    <h1>Profile</h1>
    <div ng-show="model.message"
         class="alert alert-info">
        {{model.message}}
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input
                    ng-readonly="model.allFieldsReadOnly"
                    type="text"
                    ng-model="model.user.username"
                    class="form-control"
                    id="username"
                    placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input
                    type="email"
                    ng-readonly="model.allFieldsReadOnly"
                    ng-model="model.user.email"
                    class="form-control"
                    id="email"
                    placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input
                    type="text"
                    ng-model="model.user.firstName"
                    ng-readonly="model.allFieldsReadOnly"
                    class="form-control"
                    id="first-name"
                    placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input
                    type="text"
                    ng-model="model.user.lastName"
                    ng-readonly="model.allFieldsReadOnly"
                    class="form-control"
                    id="last-name"
                    placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block"
       ng-if="!model.allFieldsReadOnly"
       href="#!/dashboard">
       Dashboard</a>
    <a class="btn btn-info btn-block"
       ng-if="!model.allFieldsReadOnly"
       ng-click="model.updateUser(model.user._id,model.user)">
        Update</a>
    <a class="btn btn-info btn-block"
       ng-click="model.visitSavedArticleForProfile()">Saved Articles</a>

    <div class="thumbnail">

        <div class="nh-toolbar">
            <a href = "#!/user/search">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <h3>Following</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="followed in model.following">
                <div class="row">
                    <div class="col-xs-6"><h4>{{followed.username}}</h4></div>
                    <div class="col-xs-6">
                        <span class="label label-info">
                            Saved Articles {{followed.savedArticles.length}}
                        </span>
                        </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="thumbnail">
        <h3>Followers</h3>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="follower in  model.followers">

                <div class="row">
                    <div class="col-xs-6 col-md-8">
                        <a href="#!/user/{{follower.username}}">
                            {{follower.username}}
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4">

                             <span class="label label-info">
                             Saved Articles {{follower.savedArticles.length}}
                        </span>



                    </div>
                </div>
            </li>
        </ul>
    </div>


    <a href="#!/user/search"
       ng-if="!model.allFieldsReadOnly"
       class="btn btn-info btn-block">Users</a>
    <a class="btn btn-danger  btn-block"
       ng-if="!model.allFieldsReadOnly"
       ng-click="model.logout()">Logout</a>
    <a class="btn btn-danger  btn-block"
       ng-if="!model.allFieldsReadOnly"
       ng-click="model.deleteUser(model.userId)">Un-Register</a>
</div>

